@font-face {
  font-family: 'secret_typewriterregular';
  src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
       url('fonts/veteran_typewriter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

.card:first-child {
  display: none;
}

.card {
  display: flex;
  gap: 1rem;
  background-color: grey;
  margin: 1rem;
  height: 12.5rem;
  width: 25rem;
  font-family: 'secret_typewriterregular';
}

#left {
  width: 6rem;
  margin-top: .75rem;
  margin-left: .75rem;
}

#left input {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
}

#left input:checked {
  background-color: blue;
}

#left p {
  margin: 0;
}

#middle {
  flex-basis: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
}

#middle > * {
  margin: 0;
}

#middle > h4 {
  margin-left: 2rem;
  font-weight: normal;
}

#middle > h4:first-of-type {
  text-decoration: underline;
}

/* #right {

} */