@font-face {
  font-family: 'secret_typewriterregular';
  src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
       url('fonts/veteran_typewriter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.book-form {
  background-color: orange;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: .5rem;
  width: 12rem;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 3;
}

.book-form h2 {
  margin: 0;
  text-align: center;
}

#readDiv {
  display: flex;
  align-items: center;
  gap: .25rem;
}

input[type='checkbox'] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid black;
  margin: 0;
}

input[type='checkbox']:checked {
  background-color: blue;
}

#yearDiv, #titleDiv, #authorDiv, #pagesDiv {
  position: relative;
}

#titleDiv input, #authorDiv input, #yearDiv input, #pagesDiv input {
  height: 1.5rem;
  width: 9rem;
  border-radius: 10px;
  padding: .75rem .5rem;
}

#titleInput:valid + label, #authorInput:valid + label, #yearInput:valid + label, #pagesInput:valid + label {
  display: none;
}

#yearDiv label, #titleDiv label, #authorDiv label, #pagesDiv label {
  position: absolute;
  left: 0;
  top: .35rem;
  padding-left: .65rem;
  color: grey;
  margin: 0 auto;
}

#catDiv {
  display: flex;
}

#upload {
  width: 6rem;
  position: relative;
  text-align: center;
  outline: 2px solid white;
  border-radius: 10px;
  padding: .25rem .5rem;
}

#upload input {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  padding: 0;
}

#upload label {
  position: absolute;
  width: 100%;
  left: 0;
  top: .4rem;
}

.btn {
  width: 9rem;
}

/*------ card ------*/

menu {
  list-style: none;
  margin: 2rem 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

menu li {
  padding: 0;
}

.card-cabinet {
  position: relative;
}

.stacked-cabinet {
  display: flex;
  flex-direction: column;
  background-color: #5d4014;
  width: 8rem;
}

.drawer {
  background-color: #966F33;
  width: 8rem;
  height: 5.6rem;
  position: relative;
}

.svg-text {
  max-width: 4rem;
  max-height: 1rem;
}

article[data-bookref='00'], .card-template, svg[id='0'] {
  display: none;
}


.card {
  display: flex;
  background-color: #ecd6b6;
  margin: 1rem;
  height: 12.5rem;
  width: 25rem;
  font-family: 'secret_typewriterregular';
  position: absolute;
  top: 0;
}

.card .tab {
  position: absolute;
  top: -1.5rem;
  height: 1.5rem;
  width: 4rem;
  padding: .5rem 1rem 0;
  margin: 0;
  background-color: #ecd6b6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.red-line {
  position: absolute;
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 0, 0, .2);
  z-index: 0;
}

.blue-lines {
  position: absolute;
  height: 70%;
  width: 100%;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.blue-lines > * {
  height: 1.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 255, .15);
}

#left {
  width: 5rem;
  padding-top: 2.6rem;
  padding-left: .75rem;
  padding-right: .5rem;
  border-right: 1px solid rgba(255, 0, 0, .4);
  z-index: 1;
  line-height: 1.15rem;
}

#left input {
  position: absolute;
  top: .25rem;
  left: .25rem;
}

.read-background::after {
  content: 'READ';
  position: absolute;
  bottom: 2.5rem;
  left: 2rem;
  transform: rotate(-.08turn);
  font-size: 2rem;
  opacity: .5;
  color: red;
  display: none;
}

#left input:checked + .read-background::after {
  display: block;
}


#left p {
  margin: 0;
}

#middle {
  padding-top: 2.25rem;
  padding-left: .25rem;
  margin-left: 1.5rem;
  border-left: 1px solid rgba(255, 0, 0, .4);
  line-height: 1.5rem;
  z-index: 1;
  width: 8rem;
}

#middle > * {
  margin: 0;
}

#middle > h4 {
  margin-left: 1rem;
  font-weight: normal;
}

#middle > h4:first-of-type {
  text-decoration: underline;
}

#right {
  padding-right: .75rem;
  padding-top: 1.5rem;
  margin-left: .75rem;
  z-index: 1;
}

#right img {
  height: 10rem;
  width: auto;

}

#right button {
  position: absolute;
  right: .4rem;
  top: 0;
  padding: .25rem;
  background: none;
  border: none;
  color: red;
  font-size: 1.1rem;

}